---
import { getStaticPaths, getI18nProps } from '../../i18n/helperi18n';

export { getStaticPaths };

interface Props {
  title?: string; 
}

const { lang, t, title } = getI18nProps(Astro.params, 'contact');
---



<div class="section">
  <section
    id="location"
    class="relative bg-fixed bg-center bg-cover bg-no-repeat"
    style="background-image: url('/images/location.jpg');"
  >
    <!-- Overlay oscura -->
    <div class="absolute inset-0 bg-black/60"></div>

    <!-- Contenido -->
    <div class="relative z-10 flex flex-col items-center justify-center min-h-[60vh] px-6 text-center text-white">
      <h2 class="text-4xl font-bold sm:text-5xl">{t('location.title')}</h2>
      <p class="mt-4 text-lg sm:text-xl">{t('location.address')}</p>
      <p class="mt-2 text-lg sm:text-xl">{t('location.hours')}</p>
      <p class="mt-2 text-lg sm:text-xl">{t('location.phone')}</p>
      <p class="mt-2 text-base italic opacity-80">{t('location.note')}</p>
    </div>
  </section>
</div>


