---
import { useTranslations } from '../../i18n/utils';


export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } }
  ];
}

const { lang } = Astro.params;
const t = useTranslations(lang as 'es' | 'en');
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <title>{t("about.title")}</title>
  </head>
  <body>
    <h1>{t("about.heading")}</h1>
    <p>{t("about.description")}</p>
  </body>
</html>


