---
import { useTranslations } from '../../i18n/utils';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  return [
    { params: { lang: 'es' } },
    { params: { lang: 'en' } }
  ];
}

const { lang } = Astro.params;
const t = useTranslations(lang as 'es' | 'en');
---

<MainLayout>

    <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-4">{t("contact.heading")}</h1>

    <p class="text-lg text-gray-600 leading-relaxed max-w-2xl">{t("contact.description")}</p>

</MainLayout>




