---
import MainLayout from '../../layouts/MainLayout.astro';
import { getStaticPaths, getI18nProps } from '../../i18n/helperi18n';
import MapComponent from '../../components/maps/Map.jsx';



export { getStaticPaths };

const { lang, t, title } = getI18nProps(Astro.params, 'map');


---


<MainLayout title={title} lang={lang}>

    <div class="section mb-10">

        <h2 class="text-3xl font-bold mb-6">Ubicación</h2>

        <MapComponent client:only="react" />

    </div>

</MainLayout>