---
import MainLayout from "../../layouts/MainLayout.astro";
import { getStaticPaths, getI18nProps } from "../../i18n/helperi18n";
import MenuComponent from "../../components/menu/MenuComponent.astro";

export { getStaticPaths };

const { lang, t, title } = getI18nProps(Astro.params, "menu");
---

<MainLayout title={title} lang={lang}>
    <!-- <div class="section">

        <div class="bg-gray-900 py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <dl
                    class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3"
                >
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                        <dt class="text-base/7 text-gray-400">
                            Transactions every 24 hours
                        </dt>
                        <dd
                            class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl"
                        >
                            44 million
                        </dd>
                    </div>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                        <dt class="text-base/7 text-gray-400">
                            Assets under holding
                        </dt>
                        <dd
                            class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl"
                        >
                            $119 trillion
                        </dd>
                    </div>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                        <dt class="text-base/7 text-gray-400">
                            New users annually
                        </dt>
                        <dd
                            class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl"
                        >
                            46,000
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <h1 class="text-4xl md:text-5xl font-bold text-gray-900 mb-4">
            {t("menu.heading")}
        </h1>

        <p class="text-lg text-gray-600 leading-relaxed max-w-2xl">
            {t("menu.description")}
        </p>
    </div> -->

    <MenuComponent />
</MainLayout>
