---
import MainLayout from "../../layouts/MainLayout.astro";
import { getStaticPaths, getI18nProps } from "../../i18n/helperi18n";
import { MenuComponent } from "../../components/menu/MenuComponent";


export { getStaticPaths };

const { lang, t, title } = getI18nProps(Astro.params, "menu");
console.log({ lang, t, title }); 
---

<MainLayout title={title} lang={lang}>
    <div class="section p-10">
       <MenuComponent client:load />

    </div>

</MainLayout>
